.main {
    width: 80%;
    margin: 0 auto;
}

.btn-like {
    background: none;
    border: none;
    cursor: pointer;
}

.progress {
    width: 75%;
    margin-bottom: 2.5em;
    height: 5%;
    font-size: 1.5em;
}

.poll-button {
    margin-left: 2em;
    font-size: 1em;
    height: fit-content;
}