{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load cloudinary }

{% block content %}

{% if user.is_authenticated %}
    
<div class="container container">
    <div class="row">
        <div class="col-md-8 account-box post-form">
        <h3><em>Opinionate</em> this post:</h3>
            <form method="post" enctype="multipart/form-data">
                
                {{ post_form | crispy }}
                
                {% csrf_token %}
                
                <button type="submit" class="btn btn-dark btn-lg">Submit</button>
            </form>

            {% else %}
            <div class="container account-container">
                <div class="row">
                <div class="col-md-6 mt-3 account-box">
            <h3><a href="{% url 'account_login' %}">Login</a> to create a post!</h3>
        </div>
        </div>
        </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}