{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container container">
    <div class="row">
        <div class="col-md-8 account-box post-form">
            <h3><em>Opinionate</em> this post:</h3>
            <form method="post" class="post-form">
                
                {{ edit_form | crispy}}
                
                {% csrf_token %}
                
                <button type="submit" class="btn btn-dark btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}