{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container mt-5">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" style="width:100%;" alt="placeholder iamge">
                {% else %}
                <img src=" {{ post.featured_image.url }}" style="width:100%;" alt="post image">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>

                <!--Poll-->
            
                {% if poll %}
        <div class="container">
            <small class="text-secondary">Drop a vote in the poll below!</small>
            <h3 class="poll-title">{{ poll.question }}</h3>
            <hr>

            <div class="row mb-2">
                <div class="col-md-12 d-inline poll-option">{{ poll.option1 }}
                <div class="d-inline float-right poll-value">{{ poll.option1_value }}</div>
            </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12 d-inline poll-option">{{ poll.option2 }}
                <div class="d-inline float-right poll-value">{{ poll.option2_value }}</div>
            </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12 d-inline poll-option">{{ poll.option3 }}
                <div class="d-inline float-right poll-value">{{ poll.option3_value }}</div>
            </div>     
            </div>
            <div class="row mb-2">
                <div class="col-md-12 d-inline poll-option">{{ poll.option4 }}
                <div class="d-inline float-right poll-value">{{ poll.option4_value }}</div>
            </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6 mt-3">
            
            {% if user.is_authenticated %}
            
                {% if voted %}
                <small class="text-secondary">You've already voted on this poll!</small>

                {% else %}

                <!--Users can only see the vote button if they are authenticated and haven't voted-->
                <div>
                <a class="btn btn-primary" href="{% url 'post_poll' post.slug %}">Vote</a>
            </div>

                {% endif %}

            {% else %}

            <small class="text-secondary">Login to vote on this poll.</small>
            
            {% endif %}

            <small class="text-secondary">Total votes: {{ poll.number_of_votes }}</small>
        </div>
        </div>
        </div>

{% endif %}

                <div class="row mt-3">

                    <!--Likes-->
                    <div class="col-4">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>

                                {% else %}

                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button>

                                {% endif %}

                            </form>
                            {% else %}

                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary"> {{ post.number_of_likes }} </span>
                        </strong>

                    </div>
                    <!--Comments counter-->
                    <div class="col-4">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ endif }}
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!--Comments-->
    <div class="row comments-row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                
                {% if not user.is_authenticated %}
                <span class="test-secondary"> Login to leave a comment! </span>
                
                {% endif %}

                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-warning" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <h3><em>Opinionate</em> this post:</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}